* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #212529;
}
h1 {
  font-weight: 600;
  font-size: 24px;
  padding: 30px 0px;
}

.bg-grey {
  background: #f7f7f7;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}
li {
  margin-bottom: 20px;
}

.container {
  width: 1200 !important;
  margin: 50 auto !important;
}
/******************/
/* Khu vực banner */
/******************/

#banner h1 {
  font-weight: 400;
  font-size: 48px;
  padding-bottom: 20px;
}

.banner-background {
  background-image: linear-gradient(
      0,
      rgba(31, 30, 30, 0.629),
      rgba(31, 30, 30, 0.629)
    ),
    url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
}
#banner {
  color: white;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  line-height: 1.5;
}

/* Khu vực menu navigation */

.navigation .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
}
.navbar {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  padding: 0;
  text-decoration: none;
  color: #212529;
  font-size: 14px;
  text-transform: uppercase;
  vertical-align: middle;
}

.nav-avatar {
  grid-column: 3/5;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -100%);
}
.nav1,
.nav3 {
  border-left: 1px solid #c5cacf;
  border-right: 1px solid #c5cacf;
}

.nav2,
.nav4 {
  border-right: 1px solid #c5cacf;
}

.navbar i {
  color: #228be6;
}

.nav:hover,
.nav:hover i {
  background-color: #228be6;
  color: white;
}

.nav-avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid white;
}

/* KHU VƯC ABOUT - THÔNG TIN CÁ NHÂN */

#about .container-fluid {
  width: 100%;
  display: grid;
  padding: 0px;
  grid-template-columns: 1fr 1fr;
  justify-content: left;
  align-content: top;
}

#about ul {
  padding-left: 0px;
}

#target,
#personal-info {
  padding: 30px 60px;
}
#personal-info {
  background-color: #e0e0e0;
}

/* Social icon */
.about-icon {
  padding: 30px 0;
}
.icon {
  color: #228be6;
  cursor: pointer;
}

/* KHU VỰC KINH NGHIỆP CÔNG VIỆC */

#job-info .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-content: space-evenly;
  width: 1200px;
  margin: 30px auto;
}

.job {
  border: 1px solid #c5cacf;
  border-radius: 5px;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 1fr;
  align-items: start;
}

.ic-head {
  justify-self: end;
  scale: 2.5;
  transform: translate(-100%, 10%);
  color: #c5cacf;
}

.job-body {
  grid-column: 1/-1;
  display: grid;
  padding-left: 10px;
}

.job h1 {
  padding: 0px;
}

.job li::before {
  content: "\2022";
  color: #228be6;
  margin-right: 10px;
}

.job-title {
  font-weight: 600;
  font-size: 16px;
}
.job-time {
  font-style: italic;
  font-size: 16px;
}
.job-detail {
  color: #868e96;
  font-style: normal;
  font-size: 18px;
}
#list-sothich {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px 100px;
  justify-items: center;
  align-items: top;
}
#list-sothich i {
  scale: 1.3;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #228be6;
  border-radius: 50%;
  color: #228be6;
}
#list-sothich p {
  font-size: 16px;
  text-align: center;
}
.line-blue {
  border: 1px solid #228be6;
  width: 17%;
  margin: 10px 3px;
}
.line-gray {
  border: 1px solid #dee2e6;
  width: 17%;
  margin: 10px 5px;
}
.line2 .line-blue {
  border: 2px solid #228be6;
}
.line2 .line-gray {
  border: 2px solid #dee2e6;
}
.line {
  display: flex;
  justify-content: left;
}

/* CHỨNG CHỈ GIẢI THƯỜNG */

#certificate {
  padding-bottom: 20px;
}

#certificate .container {
  width: 1200px;
  margin: 0 auto;
}

.reward-pic img {
  width: 200px;
  padding: 0px;
}
.reward {
  display: grid;
  grid-template-columns: 220px 1fr 1px 220px 1fr;
  gap: 30px;
  margin-bottom: 30px;
  justify-content: left;
}
.reward .pic-3 {
  grid-column: 1/2;
}

.reward-title {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.reward-detail {
  font-size: 16px;
  padding-left: 10px;
  color: #868e96;
}

.content-3 {
  grid-column: 2/3;
}
.reward-line-1 {
  border: 1px solid #ead0ad;
}
.reward-line-2 {
  grid-column: 1/-1;
  border: 1px solid #ead0ad;
}

#certificate .section-title {
  margin-bottom: 30px;
}

/* DỰ ÁN - PROJECT */

.project-container {
  max-width: 1200px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 30px;
  margin: 20px auto;
}
#project .section-title {
  margin-left: 50px !important;
}

.project {
  border: 1px solid #c5cacf;
  border-radius: 5px;
  padding: 0px 0px 30px 0px;
  display: grid;
  grid-template-columns: 120px 1fr 1.4fr;
  justify-content: center;
  align-items: start;
  align-content: start;
}

.project-picture {
  grid-column: 1/-1;
  width: 100%;
  border: 1px solid #c5cacf;
}

.project-title {
  grid-column: 1/-1;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 0px;
  border-bottom: 1px solid #c5cacf;
}
.project-year {
  background-color: #228be6;
  color: white;
  border-radius: 20px;
  font-size: 14px;
  grid-column: 1/2;
  margin: 6px 25%;
  text-align: center;
  align-self: center;
  justify-self: center;
  padding: 5px 20px !important;
}
.project-year p {
  text-align: center;
}
.project i {
  padding-right: 3px;
}
.project div {
  padding: 0px;
  padding-right: 5px;
  font-size: 15px;
  align-self: center;
  justify-self: left;
}

.procol-1 {
  padding: 20px 0px 10px 10px;
  height: 100%;
  border-top: 1px solid #c5cacf;
}

.procol-2 {
  padding: 20px 10px 10px 0px;
  height: 100%;
  border-top: 1px solid #c5cacf;
  grid-column: 2/-1;
}

.col-x {
  border-top: 2px solid #c5cacf;
}

/* KHU VỰC FOOTER */

#footer i {
  font-size: 32px;
  vertical-align: middle;
  color: #228be6;
}

#footer ul {
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer li {
  margin: 0px;
  padding: 5px;
}

.footer {
  width: 100vw;
  margin: 0px;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #212529;
  font-size: 100%;
}
